.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

#container {
  height: 100vh;
  width: 100vw;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
